.register, .register-section, .registerForm{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    gap: 10px;
}
.registerForm{
    border-radius: 20px;
    padding: 20px;
    /* width: 80%; */
    background-color: #32322c;
}
.registerForm input, .login-section button ,.registerForm button, .registerForm select{
    padding: 20px;
    /* width: 80%; */
    border-radius: 10px;
    border: none;
}
.registerForm select{
    background-color: rgba(187, 245, 79, 0.723);
}
.registerForm button{
    width: 100%;
    background-color: rgb(22, 115, 255);
}
.login-section button {
    width: 100%;
    background-color: rgb(126, 174, 246);
}